@use 'vars';

// Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Screen readers only
.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

// Fonts
.f-xlrg {
    font-size: 2.4rem;
    font-weight: 500;
}

.f-lrg {
    font-size: 1.6rem;
    font-weight: 500;
}

.f-med {
    font-size: 1.6rem;
    font-weight: 500;
}

.f-reg {
    font-size: 1.6rem;
    font-weight: 400;
}

body,
html {
    height: 100%;
}

body {
    font-family: vars.$ff;
    font-size: 62.5%;
}

