@use 'vars';

.modal {
    max-width: 343px;
    margin: 0 1.6em;
    padding: 2.7em 2.4em;
    background-color: vars.$white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.6em;

    &__heading {
        color: vars.$cl-secondary;
        font-size: 2rem;
        font-weight: 500;
    }

    &__description {
        color: vars.$cl-tertiary;
        line-height: 1.5;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.6em;

        &__btn {
            font-family: vars.$ff;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            padding: .75em 1.3125em;
            border: none;
            border-radius: 8px;
            color: vars.$white;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }
        &__btn--cancel {
            background-color: vars.$cl-tertiary;
        }

        &__btn--delete {
            background-color: vars.$cl-alert;
        }
    }
}

@media (min-width: 360px) {
    .modal {
        &__form {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1024px) {
    .modal {
        max-width: 400px;
        gap: 2em;
        padding: 3.2em;
        margin: 0;

        &__heading {
            font-size: 2.4rem;
        }

        &__form {
            display: flex;

            &__btn {
                padding: .75em 2.03125em;
            }
        }
    }
}